<img class="wave" src="assets/images/login/wave.png">
<div class="login-container">
  <div class="img">
    <img src="assets/images/login/bg.svg">
  </div>
  <div class="login-content">
    <form [formGroup]="formResetPass" method="post" #freset (submit)="onSubmit()">
      <img src="assets/images/login/avatar.svg">
      <h3 class="title">ĐỔI MẬT KHẨU</h3>
      <div class="input-div pass">
        <div class="i">
          <i class="fas fa-user"></i>
        </div>
        <div class="div">
          <input type="password" class="input" formControlName="password" placeholder="Nhập mật khẩu">
          <div *ngIf="password.invalid && (password.touched || freset.submitted)" class="text-danger message-reset">
            <div *ngIf="password.errors?.required">
              Mật khẩu không được để trống
            </div>
          </div>
        </div>
      </div>
      <div class="input-div pass">
        <div class="i">
          <i class="fas fa-lock"></i>
        </div>
        <div class="div">
          <input type="password" class="input"
                 formControlName="confirmPassword" placeholder="Xác nhận mật khẩu">
          <div
            *ngIf="confirmPassword.invalid && (confirmPassword.touched || freset.submitted || confirmPassword.dirty)"
            class="text-danger message-reset">
            <div *ngIf="confirmPassword.errors?.required">
              Mật khẩu xác nhận không được để trống
            </div>
            <div *ngIf="confirmPassword.errors?.confirmedValidator">
              Mật khẩu không trùng khớp
            </div>
          </div>
        </div>
      </div>
      <div class="forgotAndRememberPass">
        <input type="submit" class="btn" value="Đổi mật khẩu">
      </div>
    </form>
  </div>
</div>
