<section class="section feature mb-0 mt-3">
  <div class="container">
    <form [formGroup]="formResetPass" method="post" #freset (submit)="onSubmit()">
      <div class="mb-3 row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="inputPassword" formControlName="password">
          <div *ngIf="password.invalid && (password.touched || freset.submitted)" class="text-danger message-reset">
            <div *ngIf="password.errors?.required">
              Mật khẩu không được để trống
            </div>
          </div>
        </div>
      </div>
      <div class="mb-3 row">
        <label for="inputConfirmPassword" class="col-sm-2 col-form-label">Password Confirm</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="inputConfirmPassword"
                 formControlName="confirmPassword">
          <div *ngIf="confirmPassword.invalid && (confirmPassword.touched || freset.submitted || confirmPassword.dirty)" class="text-danger message-reset">
            <div *ngIf="confirmPassword.errors?.required">
              Mật khẩu xác nhận không được để trống
            </div>
            <div *ngIf="confirmPassword.errors?.confirmedValidator">
              Mật khẩu không trùng khớp
            </div>
          </div>
        </div>
        <div class="row ">
          <button type="submit" class="btn btn-success btn-sm">Đổi mật khẩu</button>
        </div>
      </div>
    </form>
    </div>

</section>
